
.header-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 8vh;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-links {
    width: 80%;
    display: flex;
    justify-content: end;
    gap: 3vh;
}

.home-link,
.projects-link,
.skills-link,
.contact-link {
    cursor: pointer;
    font-family: montserrat, sans-serif;
    text-decoration: none;
}

.aboutme-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding: 100px;
}

.box1 {
    width: 800px;
    font-family: montserrat, sans-serif;
}

.my-name {
    font-size: 48px;
}

.my-paragraph {
    color: rgb(83, 83, 83);
    font-size: 16px;
    font-weight: 500;
}

.icons {
    display: flex;
    font-size: 25px;
    gap: 1vh;
    color: rgb(128, 128, 128);
}

.icons p {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.hero-img {
    height: 300px;
}


.line-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border: 1px solid rgb(128, 128, 128);;
    width: 80%;
}