
.project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
}

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    background-color: rgb(241, 241, 241);
}

.projects-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.project-vid {
    display: flex;
    justify-content: center;
    height: 400px;
}

.project-img {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 800px;
    border: 1px solid black;
}

.project-name {
    width: 800px;
    font-family: montserrat, sans-serif;
}

.project-name h1 {
    margin: 0;
    font-size: 24px;
}

.project-name p {
    margin: 0;
    color: rgb(56, 56, 56);
    font-weight: 500;
}

.project-details {
    width: 800px;
    font-family: montserrat, sans-serif;
    color: rgb(56, 56, 56);
    font-weight: 500;
}

.project-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-link a {
    font-size: 18px;
    color: black;
    font-family: montserrat, sans-serif;
    font-style: oblique;
    width: 800px;
    display: flex;
    align-items: center;
}

.tools {
    font-family: montserrat, sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
}

.project-tool-use {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}