
.skills-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-elements h1 {
    font-family: montserrat, sans-serif;
    color: rgb(83, 83, 83);
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    max-width: 600px;
}

.skills-section {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.skills-section:hover {
    transform: scale(1.2);
}

.skills-section:hover p {
    color: rgb(67, 170, 255);
}

.skill-img {
    height: 50px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.skill-name {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}